<html>
<head>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>


	<link rel="stylesheet" type="text/css" href="/static/css/index.css">

	<script src="/static/js/index.js"></script>
	<title>Corlock Thermostat</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div id="temperature-dial">
        <div id="temperature-text">
          68&deg;F
        </div>
      </div>
    </div>
    <div class="row controls-row">
      <div class="col">
        <div class="left-temp-control">
          <div class="plus-btn">
            <img src="https://img.icons8.com/metro/52/000000/plus-math.png">
          </div>
          <div class="minus-btn">
            <img src="https://img.icons8.com/metro/52/000000/minus-math.png">
          </div>
          <div class="temp-control">
            <div id="left-temp-value">67</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="right-temp-control">
          <div class="plus-btn">
            <img src="https://img.icons8.com/metro/52/000000/plus-math.png">
          </div>
          <div class="minus-btn">
            <img src="https://img.icons8.com/metro/52/000000/minus-math.png">
          </div>
          <div class="temp-control">
            <div id="right-temp-value">80</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="mode-off" class="mode-btn">
          <img src="https://img.icons8.com/ios-glyphs/90/000000/delete-sign.png">
        </div>
      </div>
      <div class="col">
        <div id="mode-auto" class="mode-btn">
          <img src="https://img.icons8.com/android/96/000000/thermometer.png">
        </div>
      </div>
      <div class="col">
        <div id="mode-heater" class="mode-btn">
          <img src="https://img.icons8.com/ios-glyphs/90/000000/fire-element--v1.png">
        </div>
      </div>
      <div class="col">
        <div id="mode-cooler" class="mode-btn">
          <img src="https://img.icons8.com/android/96/000000/snowflake.png">
        </div>
      </div>

    </div>
  </div>
</body>
</html>
