
body {
	background: #EEEEEE;
}


#temperature-dial {
	--dial-width: 300px;
	/*background: #AAAAAA;*/
	width: var(--dial-width);
	height:  var(--dial-width);
	border-radius:  50%;
	margin: auto;
	margin-top: calc((100vw - var(--dial-width)) / 2);

	padding-top: calc(150px - 54px);

	animation: popout 2s;
	-moz-animation: popout 2s;
	-webkit-animation: popout 2s;
	-o-animation: popout 2s;
	box-shadow: 5px 5px 8px 4px #7772, -5px -5px 8px 4px #FFF8;
}

@keyframes popout {
	from {
		box-shadow: 0px 0px 0px 0px #EEEEEE, 0px 0px 0px 0px #EEEEEE;
	}
	to {
		box-shadow: 5px 5px 8px 4px #7772, -5px -5px 8px 4px #FFF8;
	}
}

@-moz-keyframes popout {
	from {
		box-shadow: 0px 0px 0px 0px #EEEEEE, 0px 0px 0px 0px #EEEEEE;
	}
	to {
		box-shadow: 5px 5px 8px 4px #7772, -5px -5px 8px 4px #FFF8;
	}
}

@-webkit-keyframes popout {
	from {
		box-shadow: 0px 0px 0px 0px #EEEEEE, 0px 0px 0px 0px #EEEEEE;
	}
	to {
		box-shadow: 5px 5px 8px 4px #7772, -5px -5px 8px 4px #FFF8;
	}
}

@-o-keyframes popout {
	from {
		box-shadow: 0px 0px 0px 0px #EEEEEE, 0px 0px 0px 0px #EEEEEE;
	}
	to {
		box-shadow: 5px 5px 8px 4px #7772, -5px -5px 8px 4px #FFF8;
	}
}

#temperature-text {
  font-size: 72px;
  background: -webkit-linear-gradient(#2AF, #E0E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  height: 108px;
}

.temp-vert-toggle {
	height: 120px;
	width: 90px;
	border-radius: 30px;
	box-shadow: 5px 5px 8px 4px #7772, -5px -5px 8px 4px #FFF8;
	animation: popout 2s;
	-moz-animation: popout 2s;
	-webkit-animation: popout 2s;
	-o-animation: popout 2s;
	margin-left: auto;
	margin-right: auto;
}

.temp-up-button {
	height: 50%;
	border-bottom: 2px solid #7772;
	width: 100%;
}

.chevron-up {
	width: 60px; height: 60px; background-color: #7772;
	-webkit-mask-image: url('https://img.icons8.com/metro/52/000000/chevron-up.png');
	margin: 0px auto 0px auto;
	display: block;
}

.chevron-down {
	width: 60px; height: 60px; background-color: #7772;
	-webkit-mask-image: url('https://img.icons8.com/metro/52/000000/chevron-down.png');
	margin: 0px auto 0px auto;
	display: block;
}

.controls-row {
}

#upper-temp-toggle {
	float: left;
}

.temp-box {
	width: 40px;
	height: 40px;
	margin: calc(60px - 21px) auto 0 auto;
	background: #EEEEEE;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px 8px 4px #7772, -5px -5px 8px 4px #FFF8;
	animation: popout 2s;
	-moz-animation: popout 2s;
	-webkit-animation: popout 2s;
	-o-animation: popout 2s;
	padding: 10px;
}

.temp-col {
	padding: 0px;
}

#mode-buttons>.btn{
	background: none;
	border: none;
	color: #7772;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

#mode-buttons {
	border-radius: 30px;
	padding-top: 3px;
	height: 60px;
	width: 100%;
	margin-top: 15px;
	box-shadow: 5px 5px 8px 4px #7772, -5px -5px 8px 4px #FFF8;
	animation: popout 2s;
	-moz-animation: popout 2s;
	-webkit-animation: popout 2s;
	-o-animation: popout 2s;
}

.circle-60 {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	box-shadow: 5px 5px 8px 4px #7772, -5px -5px 8px 4px #FFF8;
	animation: popout 2s;
	-moz-animation: popout 2s;
	-webkit-animation: popout 2s;
	-o-animation: popout 2s;
}

.plus-btn {
	margin-bottom: 15px;
}

.lower-plus-minus {
	float: left;
}

.lower-temp-circle {
	margin-left: 73px;
	margin-top: 30px;
}