<html>
<head>

    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script
	src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/static/index.css">


	<title>Corlock Thermostat</title>
</head>
<body>
	<div class="container">
		<div class="py-5 text-center"><!-- 
			<img class="d-block mx-auto mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
			<img class="d-block mx-auto mb-4" src="https://img.icons8.com/nolan/96/temperature-sensitive.png">
			<h1>Corlock Thermostat</h1>
		</div>
		<form method="post">
			<ul class="list-group">
				<li class="list-group-item">{{thermostat.thermometer.temperature}}&deg;F</li>
				<li class="list-group-item">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-info">
							<input type="radio" name="mode" value="off"> Off
						</label>
						<label class="btn btn-info">
							<input type="radio" name="mode" value="auto"> Auto
						</label>
						<label class="btn btn-info">
							<input type="radio" name="mode" value="heater"> Heat
						</label>
						<label class="btn btn-info">
							<input type="radio" name="mode" value="cooler"> Cool
						</label>
					</div>
					{{thermostat.mode}}
				</li>
				<li class="list-group-item">Heater: 
					<span>
						{{ thermostat.heater.state }}
					</span>
				</li>
				<li class="list-group-item">AC: 
					<span>
						{{ thermostat.cooler.state }}
					</span>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col">
							<input type="number" class="form-control" name="lowest" value="{{ thermostat.temp_range[0] }}"/>
						</div>
						<div class="col">
							<input type="number" class="form-control" name="lower" value="{{ thermostat.temp_range[1] }}"/>
						</div>
						<div class="col">
							<input type="number" class="form-control" name="upper" value="{{ thermostat.temp_range[2] }}"/>
						</div>
						<div class="col">
							<input type="number" class="form-control" name="uppest" value="{{ thermostat.temp_range[3] }}"/>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<button class="btn btn-info" type="submit">Submit</button>
				</li>
			</ul>
		</form>
	</div>
</body>
</html>
